<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">REGRESSION TESTING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/TCP-S"><span style="font-size:1.1rem;">TCP (Similarities)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/TCP-F"><span style="font-size:1.1rem;">TCP (Faults)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/TCS"><span style="font-size:1.1rem;">TCS</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Hybrid"><span style="font-size:1.1rem;">HYBRID</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>