<% include partials/layout %>
<style>
    .box {
        border: 1px solid black; 
        width: 100%; 
        height:auto;
    }
</style>
<body>
<% include partials/header %>
<%  
    const foo = async () => {
    const url = 'https://www.doconcall.com.my/health-centre/api-campaign/duduk-rumah';
    const data_await = await fetch(url);
    const data = await data_await.json();

    let temp = [];
    let finalize = [];
    data.campaignElement.forEach(e => {
        if(typeof e.campaignPromoTitle !== "undefined") {
            finalize.push({
                "campaignType": e.campaignType,
                "campaignPromoTitle": e.campaignPromoTitle,
                "campaignItems": []
            });
        }
    })

    finalize.forEach((e, index) => {
        document.getElementById("demo").innerHTML = e.campaignPromoTitle;
        data.campaignElement.forEach(f => {
            if(e.campaignType == f.campaignType) {
                e.campaignItems.push(f);
            }
        })
    })
    console.log(finalize[0].campaignItems[0]);
    return finalize
    }   
    const finalize = foo()
%>
<div class="container">
    <br/>
    <% for(let i=0;i>finalize.length;i++){ %>
    <h2 id="demo" style="text-align: center; margin:auto;"><%= finalize[i].campaignpromotitle %></h2>
    <br/>
    <div id="item" class="row">
        <% for(let j=0;j>finalize[i].campaignItems.length;j++){ %>
        <div class="col-md-4 box">
            <%= finalize[i].campaignItems[j].img %>
        </div>
        <% } %>
    </div>
    <% } %>
</div>
</body>