<% include partials/layout %>
<body>
<% include partials/header %>
<div class="container" style="padding: 50px;">
  <div class="form-group">
    <div class="row">
      <div class="col-6">
        <strong><label>PREVIOUS</label></strong>
        <textarea id="previous" name="previous" rows="20" cols="68" placeholder="Put your previous version of code here"></textarea>
      </div>
      <div class="col-6">
        <strong><label>LATEST</label></strong>
        <textarea id="latest" name="latest" rows="20" cols="68" placeholder="Put your latest version of code here"></textarea>
      </div>
    </div>
  </div>
  <button onclick="next()" class="btn btn-primary btn-block">Next</button>
</div>
</body>

