<% include partials/layout %>
<style>
    @media screen and (max-width: 767px) {
        .col-sm-12 {    
            margin-bottom: 10px;
        }
    }
</style>
<body>
<% include partials/header %>
    <div class="container-fluid">
        <div class="m-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <button class="btn btn-info btn-block">STEP 1</button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <strong><label><h4>STRING ALGORITHM</h4></label></strong>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Levenshtein Distance
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Jaccard Index
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                            Cosine Similarity
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                        <label class="form-check-label" for="exampleRadios4">
                            Jaro Winkler Distance
                        </label>
                        </div>
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                        <label class="form-check-label" for="exampleRadios5">
                            Enhanced Jaro Winkler
                        </label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <button class="btn btn-info btn-block">STEP 2</button>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="mb-4">
                            <strong><h4><label>TEST CASES</label></h4></strong>
                            <textarea class="form-control" id="previous" name="previous" rows="10" placeholder="Put your previous version of code here" style="width: 100%;"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <button onclick="calcSimilarity()" class="btn btn-primary btn-block">CALCULATE SIMILARITY</button>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <button id="download" onclick="downloadSimilarity()" class="btn btn-success btn-block" disabled>DOWNLOAD SIMILARITY</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <button class="btn btn-info btn-block">STEP 3</button>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="mb-4">
                        <strong><h4><label>FAULTS</label></h4></strong>
                        <textarea class="form-control" id="faults" name="faults" rows="10" placeholder="Put fault here from all versions" style="width: 100%;"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <button id="btnAPFD" onclick="calcSimilarityAPFD()" class="btn btn-primary btn-block">CALCULATE APFD</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog" style="position: relative; height: 100%; width: 100%;">
                <div class="modal-content" style="position:absolute; top: 50%; margin-top: -50px;">
                    <div class="modal-body">
                        <div class="progress">
                            <div id="progBar" class="progress-bar progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    </div>
</body>

<script>

    function download() {
        var ws_data = [['TC ID' , 'Similarity (%)']]
        var wb = XLSX.utils.book_new();
        wb.Props = {
        Title: "String similarity",
        Subject: "Prioritized Test Cases",
        Author: "Irsyad Kamil",
        CreatedDate: new Date(2017,12,19)
        };
        wb.SheetNames.push("Test Sheet", "Fault Sheet");
        strMatrix.forEach((data, index) => {
        ws_data.push(data);  //a row with 2 columns
        })

        var ts = XLSX.utils.aoa_to_sheet(ws_data);
        var fs = XLSX.utils.aoa_to_sheet(ws_data);
        wb.Sheets["Test Sheet"] = ts;
        wb.Sheets["Fault Sheet"] = fs;
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'test.xlsx');
    }
        
    function s2ab(s) { 
        var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
        var view = new Uint8Array(buf);  //create uint8array as viewer
        for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
        return buf;    
    }

    const APFD_Similarity = async() => {
        await calcAPFD(strMatrix)
    }

</script>

<script>
$('#faults').val(faultTCAS)
// $('#previous').val(TCTCAS)
$('#previous').val(TCCTCAS)
// $('#previous').val(TCJTCAS)
</script>