<% include partials/layout %>
<style>
    @media screen and (max-width: 767px) {
        .col-sm-12 {    
            margin-bottom: 10px;
        }
    }
</style>
<body>
<% include partials/header %>
    <div class="container-fluid">
        <div class="m-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <button class="btn btn-info btn-block">STEP 1</button>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <strong><h4><label>MATCH TEST CASES WITH FAULTS</label></h4></strong>
                        <div class="row">
                            <div class="col-md-12">
                                <textarea class="form-control" id="faults" name="faults" rows="20" placeholder="Put fault here from all versions" style="width: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10 col-sm-12">
                    <button onclick="matchFaults()" class="btn btn-primary btn-block">CLEANING FAULTS</button>
                </div>
            </div>
            <br />
        </div>
        <div class="m-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <button class="btn btn-info btn-block">STEP 2</button>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <strong><h4><label>APPLY GENETIC ALGORITHM</label></h4></strong>
                        <div class="row">
                            <ul>
                                <li>1. Generate population</li>
                                <li>2. Check and remove duplicates</li>
                                <li>3. Calculate fitness score</li>
                                <li>4. Select best two from the population</li>
                                <li>5. Apply crossover method by randomly select crossover point</li>
                                <li>6. Do mutation, re-generate if there are duplicates</li>
                                <li>7. Calculate fitness score</li>
                                <li>8. Repeat Step 1 - 6 until a chromosome achieved fitness score and carry forward two best chromosome for next generation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5 col-sm-12">
                    <button onclick="geneticAlgorithm()" class="btn btn-primary btn-block">START PROCESSING</button>
                </div>
                <div class="col-md-5 col-sm-12">
                    <button id="download" onclick="download()" class="btn btn-success btn-block" disabled>GET RESULTS</button>
                </div>
            </div>
            <br />
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog" style="position: relative; height: 100%; width: 100%;">
                <div class="modal-content" style="position:absolute; top: 50%; margin-top: -50px;">
                    <div class="modal-body">
                        <div class="progress">
                            <div id="progBar" class="progress-bar progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>    
    </div>
</body>

<script>
    $('#faults').val(faultTCAS)
    $('#testcases').val(TCTCAS)
</script>